* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    background-color: blue;
    width: 100px;
    transform: translateX(-90px);
    transition: all 1s ease-in-out;
}

i:active+ul {
    transform: translate(0px);
}